.ipynb_checkpoints
__pycache__
Chess_Notebook v1.1 - Copy.ipynb
Chess_Notebook v1.1_5.pdf
Chess_Notebook v1.1.ipynb
Chess_Presentation.pdf
LogoUniversity.jpg
LogoUniversity.png
*.gif
*.pdf
chess-board-500x500.jpg
chessboard.png
chessboard.jpg
